.odd {
    background-color: pink;
    font-family: Verdana, DejaVu, sans-serif; 
}

#second {
    color: blue;
    font-size: 36px;
}

.font {
    font-size: 24px;
}

#fourth {
    background-color: lightgreen;
    font-weight: 700;
}